@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
}
body {
  overscroll-behavior: none;
  background-color: #f9f9ff;
  color: #111c2d;
  font-family: "Plus Jakarta Sans", system-ui, sans-serif;
}
::-webkit-scrollbar { display: none; }

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
